.tableFixHead thead th {
  position: fixed;
  top: 0;
  width: 100%;
}

table {
  overflow-x: auto;
  white-space: nowrap;
}

#away {
  border-bottom: 3pt solid black;
}

#home {
  border-top: 3pt solid black;
}

#header {
  border-bottom: 1pt solid black;
  border-right: 1pt solid black;
}

td {
  border-left: 1pt solid black;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.footer {
  border-bottom: 2pt solid black;
}
#footCols {
  border-left: 2pt solid black;
  border-right: 2pt solid black;
}

body {
  margin: 0;
}

table {
  width: 100%;
}

thead th,
tfoot tr {
  position: sticky;
  background: white;
}

thead th {
  top: 0;
}

tfoot tr {
  bottom: 0;
}

.entry {
  font-weight: bold;
  font-size: large;
}

/*give some space between thead and tfoot*/

tbody tr:first-of-type td {
  padding-top: 10px;
}

tbody tr:last-of-type td {
  padding-bottom: 10px;
}
